#mapContainer {
  width: 50%;
  height:	500px;
  display: inline-block;
}

#sidebar {
  display: inline-block;
  position: absolute;
  padding: 15px;
  background: #b2b2b2;
  width: 50%;
  height: 500px;
}

.header p { 
  background: darkblue;
  padding: 20px;
  margin: 0 0 20px 0;
  color: white;
  font-size: 18pt;
} 
  
        img {
          width: 50px;
          float: left;
          position: relative;
          top: 15px;
          margin: 0 15px 0 15px;
        }

        h1 {
          font-size: 12pt;
          ;
        }
h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}